/* CSS SEARCH BAR */

.SearchBarCss input {
  width: 100%;
  border: none;
  font-size: 14px;
  color: #fff;
  padding: 10px 5px;
  background-color: #1175a7;

  box-sizing: border-box;
  outline: none;
}

.SearchBarCss ul {
  list-style-type: none;
  text-align: left;

  margin: 0;
  padding: 0;

  border-top: 1px solid #fff;
}

.SearchBarCss ul:before {
  content: "";
}

.SearchBarCss li {
  padding: 10px 5px;
  cursor: pointer;

  color: #fff;
  background-color: #1175a7;
}

.SearchBarCss li:hover {
  background-color: #207bc0;
}
